<div class="flex items-center p-4 mx-4 my-2 transition-transform duration-200 bg-primary-purple rounded-lg shadow-md cursor-pointer hover:scale-105"
     [routerLink]="['/profile', publication.id]">

  <img [src]="publication.userAvatarUrl || 'assets/default-avatar.png'"
       alt="Avatar de {{ publication.username }}"
       class="w-12 h-12 rounded-full">

  <div class="ml-4">
    <h3 class="font-bold text-white">{{ publication.username }}</h3>
    <p class="text-sm text-gray-300 truncate">{{ publication.content }}</p>
  </div>

  <div class="ml-auto">
    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
  </div>
</div>
