<div class="flex flex-col h-screen bg-dark-purple" *ngIf="recipient$ | async as recipient">

  <header class="flex items-center p-3 bg-primary-purple shadow-md z-10">
    <button (click)="goBack()" class="text-white mr-3">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
    </button>
    <img [src]="recipient.avatarUrl" alt="Avatar de {{ recipient.username }}" class="w-10 h-10 rounded-full">
    <div class="ml-3">
      <h2 class="font-bold text-white">{{ recipient.username }}</h2>
    </div>
  </header>

  <main class="flex-1 overflow-y-auto p-4">
    <div *ngIf="messages$ | async as messages" class="space-y-4">
      <div *ngFor="let message of messages">
        <div class="flex" [ngClass]="{'justify-end': message.userId === recipient?.id, 'justify-start': message.userId !== recipient?.id}">
          <div class="max-w-xs md:max-w-md px-4 py-2 rounded-lg"
               [ngClass]="{'bg-accent-green text-gray-800': message.userId === recipient?.id, 'bg-light-purple-card text-white': message.userId !== recipient?.id}">
            <p>{{ message.content }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="messages$ | async as messages">
      <div *ngIf="!messages || messages.length === 0" class="text-center text-gray-400 mt-8">
        Carregando mensagens...
      </div>
    </ng-container>
  </main>

  <footer class="p-4 bg-primary-purple">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="flex items-center space-x-3">
      <input type="text" formControlName="content" placeholder="MENSAGEM"
             class="flex-1 w-full px-4 py-3 text-white bg-light-purple-card border-transparent rounded-full focus:ring-accent-green focus:border-accent-green">

      <button type="submit" [disabled]="messageForm.invalid"
              class="flex-shrink-0 w-12 h-12 flex items-center justify-center bg-accent-orange rounded-full text-white disabled:opacity-50">
        <svg class="w-6 h-6 transform rotate-90" fill="currentColor" viewBox="0 0 20 20"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.428A1 1 0 0010 16.57l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
      </button>
    </form>
  </footer>

</div>
