 <div class="h-screen bg-dark-purple text-white">
  <header class="flex items-center justify-between p-4 bg-primary-purple shadow-md" >
    <button class="text-white">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
    </button>

    <div class="flex items-center">
        <span class="mr-2">{{ getUserName() }}</span>
        <img class="w-8 h-8 rounded-full" src="{{ getUserAvatar() }}" alt="User Avatar">
    </div>
  </header>

  <main class="p-4">
    <router-outlet></router-outlet>
  </main>

  <app-toast></app-toast>
</div>
